/* line 2, ../../../app/stylesheets/screen.sass */
html body { color: black; font-family: Veranda,Arial,sans-serif; font-size: 10px; padding-top: 5px; }
/* line 10, ../../../app/stylesheets/screen.sass */
html body #doc { width: 960px; border-left: 1px solid #e9e6d1; border-right: 1px solid #e9e6d1; border-bottom: 1px solid #e9e6d1; background-image: url(../images/jstor-logo.gif); background-repeat: no-repeat; background-position: 0px 0px; }
/* line 22, ../../../app/stylesheets/screen.sass */
html body #doc .left { text-align: left; }
/* line 26, ../../../app/stylesheets/screen.sass */
html body #doc .right { text-align: right; }
/* line 30, ../../../app/stylesheets/screen.sass */
html body #doc .center { text-align: center; }
/* line 34, ../../../app/stylesheets/screen.sass */
html body #doc .draggable, html body #doc .clickable, html body #doc .new_recipe { padding-left: 18px; background-repeat: no-repeat; height: 15px; }
/* line 42, ../../../app/stylesheets/screen.sass */
html body #doc .draggable { cursor: move; background-image: url(../images/icons/add.png); }
/* line 47, ../../../app/stylesheets/screen.sass */
html body #doc .clickable { background-image: url(../images/icons/zoom.png); }
/* line 51, ../../../app/stylesheets/screen.sass */
html body #doc .new_recipe { background-image: url(../images/icons/package_add.png); }
/* line 54, ../../../app/stylesheets/screen.sass */
html body #doc .new_recipe a { color: #ffffff; font-size: 1.3em; padding-left: 4px; text-decoration: none; }
/* line 64, ../../../app/stylesheets/screen.sass */
html body #doc #hd { background-color: #fff; position: relative; margin-left: 65px; padding: none; height: 79px; width: 894px; border-left: 1px solid #e9e6d1; border-right: 1px solid #e9e6d1; border-top: 1px solid #e9e6d1; }
/* line 78, ../../../app/stylesheets/screen.sass */
html body #doc #hd h1 { padding-left: 10px; padding-top: 15px; font-family: times; font-style: italic; font-size: 2em; }
/* line 88, ../../../app/stylesheets/screen.sass */
html body #doc #hd .actions ul { position: relative; top: -30px; width: 98%; margin-right: 15px; text-align: right; }
/* line 98, ../../../app/stylesheets/screen.sass */
html body #doc #hd .actions ul a { font-size: 1em; padding-left: 8px; background-color: transparent; background-repeat: no-repeat; background-attachment: scroll; background-position: 2px 5px; }
/* line 118, ../../../app/stylesheets/screen.sass */
html body #doc #hd .menu a { color: rgb(156, 132, 0); font-family: Verdana; text-decoration: none; }
/* line 122, ../../../app/stylesheets/screen.sass */
html body #doc #hd .menu ul { display: inline-block; width: 100%; height: 21px; position: absolute; top: 58px; left: 0px; background-color: #dcd9b5; }
/* line 133, ../../../app/stylesheets/screen.sass */
html body #doc #hd .menu ul li { font-family: times; font-size: 1.5em; display: inline-block; border-right: 3px solid #f4f2e7; padding-top: 2px; padding-left: 10px; padding-right: 12px; text-transform: uppercase; }
/* line 147, ../../../app/stylesheets/screen.sass */
html body #doc #hd .menu ul li:hover { background-color: #cac695; cursor: pointer; }
/* line 152, ../../../app/stylesheets/screen.sass */
html body #doc #bd { margin-top: 5px; background-color: #fff; }
/* line 158, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main { background-color: #fff; }
/* line 165, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g { padding-right: 10px; padding-left: 10px; }
/* line 170, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g h1 { margin-top: 10px; color: #555555; font-family: times; font-size: 2.5em; font-weight: bold; }
/* line 180, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold-header h2 { font-family: times; font-size: 2.5em; font-weight: normal; }
/* line 186, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold-header div.actions a { color: #3c3d46; }
/* line 190, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold .view { background-color: #ffffff; border-left: 1px solid #b7b387; border-top: 1px solid #b7b387; border-right: 1px solid #e5e3cb; border-bottom: 1px solid #e5e3cb; }
/* line 199, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold a:hover { background-color: transparent; }
/* line 204, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold tr th { background-image: url(../images/blue-repeater.gif); background-position: bottom left; background-color: none; }
/* line 209, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold tr th a { background-color: transparent; }
/* line 212, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold tr td { border-color: #e9e6d1; }
/* line 218, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold tr .actions td a { color: #9cadb9; }
/* line 220, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold tr .actions td a:hover { color: #dcd9b5; }
/* line 223, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold .record td { background-color: #ffffff; }
/* line 226, ../../../app/stylesheets/screen.sass */
html body #doc #bd #yui-main .yui-b .yui-g .active-scaffold .even-record td { background-color: lightgreen; }
/* line 238, ../../../app/stylesheets/screen.sass */
html body #doc #bd #content #action_container #action_add { float: left; width: 190px; margin-top: 40px; }
/* line 244, ../../../app/stylesheets/screen.sass */
html body #doc #bd #content #action_container #action_scaffold { float: left; width: 500px; }
/* line 249, ../../../app/stylesheets/screen.sass */
html body #doc #bd #content #ingredients_scaffold { padding-top: 30px; clear: both; }
/* line 264, ../../../app/stylesheets/screen.sass */
html body #doc #bd #content #ingredients_scaffold .even-record { background-color: lightblue; }
/* line 268, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar { background-color: #fff; border-left: 1px solid #b7b387; border-top: 1px solid #b7b387; border-right: 1px solid #e5e3cb; border-bottom: 1px solid #e5e3cb; position: relative; margin-top: 10px; margin-left: 10px; height: 100%; min-height: 500px; }
/* line 283, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar a { background-color: transparent; color: rgb(0, 102, 204); cursor: auto; text-decoration: none; }
/* line 290, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar h1 { color: #ffffff; font-family: times; font-size: 200%; font-weight: 700; padding: 5px; background-image: url(../images/rightBarOverlay.jpg); background-position: bottom left; }
/* line 301, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content { padding: 10px; margin: 0 0 0 0; margin-bottom: 28px; padding-bottom: 20px; overflow-y: auto; border: none; font-size: 1.25em; }
/* line 314, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content h2 { color: #ffffff; font-family: times; font-size: 200%; font-weight: 700; padding: 5px; background-image: url(../images/rightBarOverlay.jpg); background-position: bottom left; }
/* line 325, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content #recipe_tree { color: #666; font-size: 1.2em; }
/* line 330, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content #recipe_tree .tree_item { border-bottom: 1px dotted #666; position: relative; padding-bottom: 5px; padding-top: 5px; padding-left: 4px; }
/* line 339, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content #recipe_tree .tree_item a { color: #666; text-decoration: none; }
/* line 345, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .content #recipe_tree .tree_item .details a { background-image: url(../images/icons/folder_go.png); background-repeat: no-repeat; position: absolute; top: 5px; left: 180px; height: 18px; width: 18px; }
/* line 369, ../../../app/stylesheets/screen.sass */
html body #doc #bd #sidebar .actions { display: block; position: absolute; top: 100%; left: 0px; width: 204px; margin-top: -29px; padding: 8px; background-image: url(../images/blue-repeater.gif); background-position: bottom left; background-color: none; }
/* line 383, ../../../app/stylesheets/screen.sass */
html body #doc #bd .toggle_on { background: url(../images/icons/tick.png) no-repeat center; padding: 8px 10px; }
/* line 387, ../../../app/stylesheets/screen.sass */
html body #doc #bd .toggle_off { background: url(../images/icons/cross.png) no-repeat center; padding: 8px 10px; }
/* line 391, ../../../app/stylesheets/screen.sass */
html body #doc #ft { background-color: #fff; padding-top: 10px; padding-right: 10px; padding-bottom: 91px; padding-left: 10px; }
/* line 401, ../../../app/stylesheets/screen.sass */
html body #doc #ft p { color: #3c3d46; font-size: 1em; }
