.menu
  %ul
    %li= link_to 'Gardens',           :controller => 'gardens'
    %li= link_to 'Plants',            :controller => 'plants'
    %li= link_to 'Admin',             :controller => 'admin/users'